* {
    margin: 0;
    box-sizing: border-box;
    /* transition: all 3s ease; */
}

::selection {
    color: rgb(255, 255, 255) !important;
    background: rgba(255, 115, 0, 0.737);
}

.top-lay {
    background-color: rgb(239, 239, 239);
    color: rgb(175, 175, 175);
    width: 100%;

    padding: 14px 0;
}

.btn-menu {
    background-color: transparent;
    border: none;
}

.top-lay>.container-lg {
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-lay>.container-lg>ul {
    margin-bottom: 0px;
    padding-left: 0px;
}

.top-lay>.container-lg>ul>li>a {
    color: rgb(175, 175, 175);
}

.top-lay>.container-lg>ul>li>a:hover {
    color: rgb(255, 174, 25);
}

.social {
    color: white;
    background-color: rgb(175, 175, 175);
    border: 1px solid transparent;
    border-radius: 60%;
    padding: 7px;
    transition: all .1s linear;
}

.social:hover {
    background-color: rgb(255, 174, 25);
}

.navbar {
    padding: 1.3rem 2rem;
    background-color: white;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 5px 8px;
    z-index: 10;
}

.topNavigation {
    position: fixed;
    top: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.logo {
    font-size: 25px;
    font-family: fantasy;
    font-weight: 700;
    color: rgb(189, 159, 63);
    letter-spacing: 5px;
    transition: all .2s ease-out;
}

.logo:hover {
    color: rgb(141, 120, 49);
}

.navbar-links {
    font-size: 17px;
    padding-top: 15px;
    color: black;
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: all 30s linear;
}

.call {
    font-weight: 500;
    background-color: white;
    color: rgb(255, 174, 25);
    border: 1px solid rgb(255, 174, 25);
    transition: all .2s ease-in;
    font-size: 18px;
}

.call:hover {
    background-color: rgb(255, 174, 25);
    color: white;
}

.link {
    color: rgba(0, 0, 0, 0.856);
    padding: 0 12px;
    padding-bottom: 34px;
}

.link:hover {
    color: rgb(255, 174, 25);
    transition: all .2s linear;
    border-bottom: 2px solid;
}

.hero {
    position: relative;
}

.heroContent::after {
    content: "";
    background-image: url(./img/slider-left-dec.jpg);
    position: absolute;
    left: 0px;
    top: 60px;
    width: 262px;
    height: 625px;
    z-index: -1;
    background-repeat: no-repeat;
}

.heroContent {
    background-image: url(./img/slider-right-dec.jpg);
    background-repeat: no-repeat;
    background-size: initial;
    width: 100%;
    height: 100%;
    background-position: center;
    z-index: -100;
    padding: 9rem 0rem 0rem;
    margin-bottom: 12rem;
}

.heroContent>.container-md {
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.profile>p {
    padding-right: 5rem;
    line-height: 2.1rem;
    font-weight: lighter;
    font-size: 17px;
    color: rgb(156, 156, 156);
}

.profile>p:nth-of-type(2) {
    padding-bottom: 1.5rem;
}

.hello {
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 165, 0);
    margin-bottom: 15px;
}

.name {
    font-weight: 700;
    font-size: 50px;
    color: rgb(42, 42, 42);
    margin-bottom: 20px;
}

.profile>a {
    margin: 200px 0;
}



@media (max-width:991px) {
    .heroContent>.container-md {
        /* display: block;
        padding: 0 2rem;*/
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem;
    }

    .profile>p {
        padding-right: 0rem;
    }

    .top-space {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .inTouch {
        display: none;
    }

}

@media (min-width:991px) {
    .img1 {
        width: 500px;
        height: 500px;
    }

}

@media (min-width:800px) {
    .img1 {
        width: 500px;
        height: 500px;
    }

}

.img1 {
    padding: 0;
}


@media (min-width:769px) {
    .open-menu {
        display: none;
    }

    .top-space {
        width: 500px;
        height: 500px;
    }
}

@media (max-width:768px) {
    .heroContent {
        margin-bottom: 8rem;
    }

    .navbar {
        position: relative;
    }

    .topNavigation {
        position: fixed ;
        top: 0;
    }

    .navbar-links {
        display: none;
        position: absolute;
        top: 67px;
        left: 0;
        width: 100%;
    }

    .link {
        display: block;
        padding: 1rem 0;
        text-align: center;
        position: relative;
        width: 100%;
        background-color: rgb(247, 247, 247);
        border-bottom: 1px solid rgb(206, 206, 206);
    }

    .link:hover {
        color: rgb(255, 174, 25);
        transition: all .2s linear;
        border-bottom: 0.01px solid rgb(206, 206, 206);
    }

    .open-menu {
        display: flex;
    }
}

@media (max-width:500px) {
    .top-lay>.container-lg {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .top-lay>.container-lg>ul>li {
        padding-bottom: 10px;
    }
}

.img1 {
    border-radius: 50%;
}

/* about styling  */



.about>div {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;

}

.para {
    padding-right: 0rem;
    margin-bottom: 0px;
    line-height: 2rem;
    font-weight: lighter;
    font-size: 17px;
    color: rgb(156, 156, 156);
}

.aboutMe {
    font-size: 15px;
    font-weight: 700;
    color: rgb(255, 165, 0);
    margin-bottom: 15px;
}

.about1 {
    font-weight: 700;
    font-size: 40px;
    color: rgb(42, 42, 42);
    margin-bottom: 20px;
}

.bottom-border {
    width: 4rem;
    border-bottom: 3px solid rgb(255, 165, 0);
    margin-bottom: 1.5rem;
}

.img2 {
    border-radius: 60px;
    height: 625px;
    width: 480px;
    padding: 0;
}

/* PROGRESS BAR CSS */
.prog-text {

    font-weight: bolder;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    padding: 0;
    width: 100%;
}

.progressContainer {
    background-color: rgba(128, 128, 128, 0.164);
}

.progress {
    height: 1.5rem;
    font-size: 0.8rem;
}

.progressContent {
    background-color: red;
}

.progressContent1 {
    background-color: rgb(0, 255, 8);
}

.progressContent2 {
    background-color: rgb(119, 0, 255);
}

.progressContent3 {
    background-color: rgb(250, 10, 130);
}


/* PROGRESS BAR CSS ENDS */

@media (max-width:991px) {
    .about>div {
        flex-wrap: wrap;
        row-gap: 2rem;
        justify-content: center;

    }
}

@media (max-width:500px) {
    .img2 {
        height: 525px;
        width: 300px;
    }
}

/* MY PORTFOLIO REGION */
.portfolio::after {
    content: '';
    background-image: url(./img/portfolio-left-dec.jpg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0px;
    width: 677px;
    height: 759px;
    z-index: -1;
}

.portfolio {
    height: 100%;
    padding-top: 130px;
    overflow: hidden;
    position: relative;
    background-position: center;
    padding-bottom: 70px;
}

.portfolio::before {
    content: '';
    background-image: url(./img/portfolio-right-dec.jpg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0px;
    width: 414px;
    height: 861px;
    z-index: -1;
}

/* CHECK OUR BLOG REGION */
.blog {
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 70px;
    padding-bottom: 130px;
}

.blog::before {
    content: "";
    background-image: url(./img/blog-left-dec.jpg);
    position: absolute;
    left: 0;
    top: 20px;
    width: 961px;
    height: 1020px;
    z-index: -1;
    background-repeat: no-repeat;
}

.blog-title {
    text-align: center;
    padding-bottom: 4rem;
}

.blog-title>div {
    margin: 0 auto;
}

.blog-img1 {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}

.blog-img2 {
    width: 100%;
    border-radius: 20px;
}

.blog-subImg {
    align-items: center;
}

.blog-subImg>img {
    width: 4rem;
}

.happy {
    font-weight: bolder;
}

@media (max-width:768px) {
    .blog-right>div>img {
        width: 10rem;
    }

    .blog-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;

    }
}

@media (max-width:400px) {
    .blog-right {
        flex-direction: column;
    }

}

/* CONTACT US REGION */
.contactBox {
    border-radius: 20px;
    width: 100%;
    min-height: 200px;
    position: relative;
    overflow: hidden;
    padding: 7rem 3rem;
}

.contactBox::after {
    content: "";
    background-image: url(./img/contact-top-right.png);
    position: absolute;
    width: 726px;
    height: 78px;
    right: 0;
    top: 0;
    z-index: 0;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.contactBox::before {
    content: "";
    background-image: url(./img/contact-bottom-right.png);
    position: absolute;
    width: 530px;
    height: 104px;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-repeat: no-repeat;
    border-radius: 20px;
}



.contactIcons {
    border-radius: 25px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

.contactContenerRadius {
    border-radius: 25px;

}

.contactIconContener:hover {
    color: rgb(255, 165, 0);
}

.contactIconContener {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    transition: all .3s ease;
}

.contactIconContener>img {
    width: 5.5rem;
}

/* FOOTER REGION STARTS */
.footer {
    background-image: url(./img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin-top: 130px;
}

.footer>p {
    padding: 1.6rem;
}