* {
    margin: 0;
    box-sizing: border-box;
}

.top-lay {
    background-color: rgb(239, 239, 239);
    color: rgb(175, 175, 175);
    width: 100%;

    padding: 14px 0;
}

.btn-menu {
    background-color: transparent;
    border: none;
}

.top-lay>.container-lg {
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-lay>.container-lg>ul {
    margin-bottom: 0px;
    padding-left: 0px;
}

.top-lay>.container-lg>ul>li>a {
    color: rgb(175, 175, 175);
}

.top-lay>.container-lg>ul>li>a:hover {
    color: rgb(255, 174, 25);
}

.social {
    color: white;
    background-color: rgb(175, 175, 175);
    border: 1px solid transparent;
    border-radius: 60%;
    padding: 7px;
    transition: all .1s linear;
}

.social:hover {
    background-color: rgb(255, 174, 25);
}

.navbar {
    padding: 1.3rem 2rem;
    background-color: white;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 5px 8px;
    z-index: 10;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.logo {
    font-size: 25px;
    font-family: fantasy;
    font-weight: 700;
    color: rgb(189, 159, 63);
    letter-spacing: 5px;
    transition: all .2s ease-out;
}

.logo:hover {
    color: rgb(141, 120, 49);
}

.navbar-links {
    font-size: 17px;
    padding-top: 15px;
    color: black;
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: all 30s linear;
}

.call {
    font-weight: 500;
    background-color: white;
    color: rgb(255, 174, 25);
    border: 1px solid rgb(255, 174, 25);
    transition: all .2s ease-in;
}

.call:hover {
    background-color: rgb(255, 174, 25);
    color: white;
}

.link {
    color: rgba(0, 0, 0, 0.856);
    padding: 0 12px;
    padding-bottom: 34px;
}

.link:hover {
    color: rgb(255, 174, 25);
    transition: all .2s linear;
    border-bottom: 2px solid;
}

.hero {
    position: relative;
}

.heroContent::after {
    content: "";
    background-image: url(./img/slider-left-dec.jpg);
    position: absolute;
    left: 0px;
    top: 60px;
    width: 262px;
    height: 625px;
    z-index: -1;
    background-repeat: no-repeat;
}

.heroContent {
    background-image: url(./img/slider-right-dec.jpg);
    background-repeat: no-repeat;
    background-size: initial;
    width: 100%;
    height: 625px;
    background-position: center;
    z-index: -100;
    padding: 9rem 0rem;
}

.heroContent>.container-lg {
    justify-content: space-between;
    display: flex;
}

.profile>p {
    padding-right: 5rem;
    line-height: 2.1rem;
    font-weight: lighter;
    font-size: 17px;
    color: rgb(156, 156, 156);
}

.profile>p:nth-of-type(2) {
    padding-bottom: 1.5rem;
}

.hello {
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 165, 0);
    margin-bottom: 15px;
}

.name {
    font-weight: 700;
    font-size: 50px;
    color: rgb(42, 42, 42);
    margin-bottom: 20px;
}

.profile>a {
    margin: 200px 0;
}


.top-space {
    max-width: 430px;
    min-height: calc(24vh + 230px);
    border-radius: 50%;
}

@media (max-width:950px) {
    .heroContent>.container-lg {
        display: block;
        padding: 0 2rem;
        text-align: center;
        justify-content: center;
    }

    .profile>p {
        padding-right: 0rem;
    }

    .top-space {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .inTouch {
        display: none;
    }

}

@media (min-width:769px) {
    .open-menu {
        display: none;
    }

    .top-space {
        width: 500px;
        height: 500px;
    }
}

@media (max-width:768px) {
    .navbar {
        position: relative;
    }

    .navbar-links {
        display: none;
        position: absolute;
        top: 67px;
        left: 0;
        width: 100%;
    }

    .link {
        display: block;
        padding: 1rem 0;
        text-align: center;
        position: relative;
        width: 100%;
        background-color: rgb(247, 247, 247);
        border-bottom: 1px solid rgb(206, 206, 206);
    }

    .link:hover {
        color: rgb(255, 174, 25);
        transition: all .2s linear;
        border-bottom: 0.01px solid rgb(206, 206, 206);
    }

    .open-menu {
        display: flex;
    }
}

@media (max-width:500px) {
    .top-lay>.container-lg {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .top-lay>.container-lg>ul>li {
        padding-bottom: 10px;
    }
}